.visitUsDivStyle {
  padding: 5%;
  text-align: center;
}

.hoursOfOperationsStyle {
  display: inline;
}

.hoursOfOperationsTableBodyStyle {
  padding-left: 15%;
  padding-right: 15%;
}

.hoursOfOperationCellStyle {
  display: flex;
  justify-content: space-between;
}

.hoursFontDay {
  font-size: 1.15em;
}
